
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="stylesheet" href="/kmrauto/css/contactstyle.css">
</head>
<body>
   
    <nav>
        <a href="home.html">
          <button type="button">Retour</button>
        </a>
      </nav>
      
      
      
      
      <section id="contact">
            <h2>Contact</h2>
            <form id="contactForm">
                <label for="name">Nom :</label><br>
                <input type="text" id="name" required><br><br>

                <label for="email">Email :</label><br>
                <input type="email" id="email" required><br><br>

                <label for="message">Message :</label><br>
                <textarea id="message" rows="4" required></textarea><br><br>

                <button type="submit">Envoyer</button>
            </form>
            <p id="formMessage"></p>
        </section>