<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-page</title>
    <link rel="stylesheet" href="../css/loginstyle.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <h1>KMRAuto</h1>
            <ul>
                <li><a href="home.html">Accueil</a></li>
                <li><a href="cars.html">Voitures</a></li>
                <li><a href="#Services">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>

            
            <form class="search-bar" action="#" method="get">
                <input type="text" placeholder="Rechercher...">
                <button type="submit">🔍</button>
            </form>
        </nav>

        <div class="login-register">
          <a href="login.html" class="btn-login">Connexion</a>
          <a href="inscription.html" class="btn-register">Inscription</a>
        </div>

    </header>

    <main>
        <h1>Connectez-vous</h1>
        <form class="login-form" action="#" method="post">
            <div class="input-group">
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required>

            </div>
            <button type="submit" class="btn-submit">Se connecter</button>
        </form>
    </main>
       
</body>
</html>